# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
cython
pandas
scikit-learn==1.0.2

# API
gcsfs
google-cloud-storage
s3fs
uvicorn==0.17.6
fastapi==0.78.0

# utilities
six>=1.14
joblib
fsspec     #needed to import csv files straight from the GCP
gcsfs      #needed to import csv files straight from the GCP


# frontend
streamlit
matplotlib
plotly
seaborn
clang
pystan==2.19.1.1
fbprophet



